.feed{
    flex:0.6;
    margin: 0 20px;
}
.create{
    display: flex;
    padding-top: 20px;
    padding-left:20px;
    /* align-items: center; */

    
}
.create >input{
    margin-left: 10px;
    border-radius: 25px;
    padding-left: 19px;
    border:solid;
    border-width: 0.3px;
    border-color:lightgray;
    width: 80%;
    
}
.post_input{
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.media{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.mediaContent{
    align-items: center;
    display: flex;
    color: gray;
    }